@charset "UTF-8";



body {
  background-color: #a8a5a5;   
  color: #E2E7E4;              
  font-family: Arial, sans-serif;
Width: 90%;
  margin: 0;
  padding: 0;
}

/* 2. Floating Image Element */
.my-element {
  background-image: url('Noo.png');
  background-size: 200px auto;
  background-repeat: no-repeat;
  float: right;
  width: 200px;
  height: 200px; 
}


#header {
    background-image: url("Hero1.jpg"); 
	text-align: center;
    color: #E2E7E4;                       
   height: 150px;
   background-repeat: no-repeat;
	padding: 20px 25px 15px 25px;
	background-position: center
}


#nav {
  text-align: center;         
  max-width: 400px;          
  margin: 25px auto;          
  padding: 12px 10px;         
  
  background-color: #1E352B; 
  border: 2px solid #e0e2e6;  
  border-radius: 30px;        
}


#nav a {
  text-decoration: none;
  color: #e0e2e6;            
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 0 5px;             
  transition: color 0.2s ease;
}


#nav a:hover {
  color: #B58E31;             
}


#content {
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  font-family: sans-serif;
  clear: both;
  color: #E2E7E4;             
}


.Airpod {
  background-color: #1E352B;  
  border: 1px solid #e0e2e6;  
  color: #e0e2e6;             
  margin: 5px;
  padding: 5px;
  width: 31.3%;
  float: left;
  margin-bottom: 10px;
  box-sizing: border-box;     
}


#footer {
  background-color: #1E352B;  
  color: #e0e2e6;             
  text-align: center;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  clear: both;                
}


a:link {
  color: #B58E31;             /* Deep Gold for unvisited text links */
}

a:visited {
  color: #60697A;             /* Cool Slate Blue for visited links */
}

a:hover {
  color: #D6C6A2;             /* Warm Beige on hover */
}

a:active {
  color: #313C52;             /* Returns to Deep Navy while clicked */
}